In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vigne\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vigne\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\vigne\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import pandas as pd

# Load the datasets
oms_df = pd.read_csv("oms.csv")  # Adjust path as needed
pf_df = pd.read_csv("pf.csv")

# Display first few rows
print(oms_df.head())
print(pf_df.head())

   Unnamed: 0           awbno       getStatus inventory_status  \
0           0  R1010808154AJI  GOOD_INVENTORY         COMPLETE
1           1      5979920051  GOOD_INVENTORY         COMPLETE
2           2     6.27721E+11  GOOD_INVENTORY              NaN
3           3     1.95042E+14  GOOD_INVENTORY         COMPLETE
4           4     1.95042E+14  GOOD_INVENTORY         COMPLETE

               orderID               subOrder              date  \
0           5076519403         1011866143.5-1  01-11-2024 00:44
1                 2865            1.41502E+13  01-11-2024 12:13
2  406-3863912-5131562  406-3863912-5131562-1  01-11-2024 12:21
3           5076181331       S266159169.1-1-0  01-11-2024 12:44
4           5076181331       S266159169.1-1-1  01-11-2024 12:44

      received_date           SKU return_courier    warehouse returnType  \
0  08-11-2024 15:05  8.905720e+12           SELF  Warehouse 1     return
1  09-11-2024 13:47  8.905720e+12         ECOM_1  Warehouse 4     return
2  11-11-2024 20:36  8.905720e+12          ATSIN  Warehouse 1     return
3  08-11-2024 18:10  8.905720e+12           SELF  Warehouse 2     return
4  08-11-2024 18:10  8.905720e+12           SELF  Warehouse 1     return

     category
0  Category 1
1  Category 6
2  Category 6
3  Category 1
4  Category 6
   Unnamed: 0          awbno     Return status  Return Quantity  \
0           0  R972189457AJI  RETURN_PROCESSED                1
1           1    1.95042E+14  RETURN_PROCESSED                1
2           2    1.95042E+14  RETURN_PROCESSED                1
3           3  R960845268AJI  RETURN_PROCESSED                1
4           4  R966944831AJI  RETURN_PROCESSED                1

                           Reason          SKU     orderID              date  \
0               Does_Not_Fit_Well  8.90572E+12  S262541859  30-09-2024 23:28
1  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
2  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
3      Want_To_Change_Style_Color  8.90572E+12  S262949936  30-09-2024 21:58
4        Does_Not_Look_Good_On_Me  8.90572E+12  S262726902  30-09-2024 21:56

    platform
0  Channel 1
1  Channel 1
2  Channel 1
3  Channel 1
4  Channel 1

In [25]:
import pandas as pd

# Load the datasets
oms_df = pd.read_csv("oms.csv")  # Load OMS file
pf_df = pd.read_csv("pf.csv")  # Load PF file

# Show the first few rows of each dataset
print("OMS Data:")
print(oms_df.head())

print("\nPF Data:")
print(pf_df.head())

OMS Data:
   Unnamed: 0           awbno       getStatus inventory_status  \
0           0  R1010808154AJI  GOOD_INVENTORY         COMPLETE
1           1      5979920051  GOOD_INVENTORY         COMPLETE
2           2     6.27721E+11  GOOD_INVENTORY              NaN
3           3     1.95042E+14  GOOD_INVENTORY         COMPLETE
4           4     1.95042E+14  GOOD_INVENTORY         COMPLETE

               orderID               subOrder              date  \
0           5076519403         1011866143.5-1  01-11-2024 00:44
1                 2865            1.41502E+13  01-11-2024 12:13
2  406-3863912-5131562  406-3863912-5131562-1  01-11-2024 12:21
3           5076181331       S266159169.1-1-0  01-11-2024 12:44
4           5076181331       S266159169.1-1-1  01-11-2024 12:44

      received_date           SKU return_courier    warehouse returnType  \
0  08-11-2024 15:05  8.905720e+12           SELF  Warehouse 1     return
1  09-11-2024 13:47  8.905720e+12         ECOM_1  Warehouse 4     return
2  11-11-2024 20:36  8.905720e+12          ATSIN  Warehouse 1     return
3  08-11-2024 18:10  8.905720e+12           SELF  Warehouse 2     return
4  08-11-2024 18:10  8.905720e+12           SELF  Warehouse 1     return

     category
0  Category 1
1  Category 6
2  Category 6
3  Category 1
4  Category 6

PF Data:
   Unnamed: 0          awbno     Return status  Return Quantity  \
0           0  R972189457AJI  RETURN_PROCESSED                1
1           1    1.95042E+14  RETURN_PROCESSED                1
2           2    1.95042E+14  RETURN_PROCESSED                1
3           3  R960845268AJI  RETURN_PROCESSED                1
4           4  R966944831AJI  RETURN_PROCESSED                1

                           Reason          SKU     orderID              date  \
0               Does_Not_Fit_Well  8.90572E+12  S262541859  30-09-2024 23:28
1  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
2  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
3      Want_To_Change_Style_Color  8.90572E+12  S262949936  30-09-2024 21:58
4        Does_Not_Look_Good_On_Me  8.90572E+12  S262726902  30-09-2024 21:56

    platform
0  Channel 1
1  Channel 1
2  Channel 1
3  Channel 1
4  Channel 1

In [27]:
# Convert column names to lowercase for consistency
oms_df.columns = oms_df.columns.str.lower()
pf_df.columns = pf_df.columns.str.lower()

# Display column names
print("OMS Columns:", oms_df.columns)
print("PF Columns:", pf_df.columns)

OMS Columns: Index(['unnamed: 0', 'awbno', 'getstatus', 'inventory_status', 'orderid',
       'suborder', 'date', 'received_date', 'sku', 'return_courier',
       'warehouse', 'returntype', 'category'],
      dtype='object')
PF Columns: Index(['unnamed: 0', 'awbno', 'return status', 'return quantity', 'reason',
       'sku', 'orderid', 'date', 'platform'],
      dtype='object')

In [29]:
# Handle missing values before conversion
oms_df['awbno'] = oms_df['awbno'].fillna('').astype(str)
pf_df['awbno'] = pf_df['awbno'].fillna('').astype(str)

# Convert 'sku' and 'awbno' to string type
oms_df['sku'] = oms_df['sku'].astype(str)
pf_df['sku'] = pf_df['sku'].astype(str)

# Verify the data types
print(oms_df.dtypes)
print(pf_df.dtypes)

unnamed: 0           int64
awbno               object
getstatus           object
inventory_status    object
orderid             object
suborder            object
date                object
received_date       object
sku                 object
return_courier      object
warehouse           object
returntype          object
category            object
dtype: object
unnamed: 0          int64
awbno              object
return status      object
return quantity     int64
reason             object
sku                object
orderid            object
date               object
platform           object
dtype: object

In [31]:
# Merge datasets
merged_df = pf_df.merge(oms_df, on=['sku', 'awbno'], how='left')

# Show the first few rows of the merged data
print(merged_df.head())

   unnamed: 0_x          awbno     return status  return quantity  \
0             0  R972189457AJI  RETURN_PROCESSED                1
1             1    1.95042E+14  RETURN_PROCESSED                1
2             2    1.95042E+14  RETURN_PROCESSED                1
3             3  R960845268AJI  RETURN_PROCESSED                1
4             4  R966944831AJI  RETURN_PROCESSED                1

                           reason          sku   orderid_x            date_x  \
0               Does_Not_Fit_Well  8.90572E+12  S262541859  30-09-2024 23:28
1  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
2  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
3      Want_To_Change_Style_Color  8.90572E+12  S262949936  30-09-2024 21:58
4        Does_Not_Look_Good_On_Me  8.90572E+12  S262726902  30-09-2024 21:56

    platform  unnamed: 0_y getstatus inventory_status orderid_y suborder  \
0  Channel 1           NaN       NaN              NaN       NaN      NaN
1  Channel 1           NaN       NaN              NaN       NaN      NaN
2  Channel 1           NaN       NaN              NaN       NaN      NaN
3  Channel 1           NaN       NaN              NaN       NaN      NaN
4  Channel 1           NaN       NaN              NaN       NaN      NaN

  date_y received_date return_courier warehouse returntype category
0    NaN           NaN            NaN       NaN        NaN      NaN
1    NaN           NaN            NaN       NaN        NaN      NaN
2    NaN           NaN            NaN       NaN        NaN      NaN
3    NaN           NaN            NaN       NaN        NaN      NaN
4    NaN           NaN            NaN       NaN        NaN      NaN

In [33]:
# Save merged data
output_path = "merged_data.csv"
merged_df.to_csv(output_path, index=False)

print(f"Merged data saved as {output_path}")

Merged data saved as merged_data.csv

In [17]:
import pandas as pd

# Load the CSV file to check if it's correctly formatted
df = pd.read_csv("merged_data.csv")

# Display the first few rows
print(df.head())

# Check data types
print(df.dtypes)

   unnamed: 0_x          awbno     return status  return quantity  \
0             0  R972189457AJI  RETURN_PROCESSED                1
1             1    1.95042E+14  RETURN_PROCESSED                1
2             2    1.95042E+14  RETURN_PROCESSED                1
3             3  R960845268AJI  RETURN_PROCESSED                1
4             4  R966944831AJI  RETURN_PROCESSED                1

                           reason          sku   orderid_x            date_x  \
0               Does_Not_Fit_Well  8.90572E+12  S262541859  30-09-2024 23:28
1  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
2  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
3      Want_To_Change_Style_Color  8.90572E+12  S262949936  30-09-2024 21:58
4        Does_Not_Look_Good_On_Me  8.90572E+12  S262726902  30-09-2024 21:56

    platform  unnamed: 0_y  getstatus  inventory_status  orderid_y  suborder  \
0  Channel 1           NaN        NaN               NaN        NaN       NaN
1  Channel 1           NaN        NaN               NaN        NaN       NaN
2  Channel 1           NaN        NaN               NaN        NaN       NaN
3  Channel 1           NaN        NaN               NaN        NaN       NaN
4  Channel 1           NaN        NaN               NaN        NaN       NaN

   date_y  received_date  return_courier  warehouse  returntype  category
0     NaN            NaN             NaN        NaN         NaN       NaN
1     NaN            NaN             NaN        NaN         NaN       NaN
2     NaN            NaN             NaN        NaN         NaN       NaN
3     NaN            NaN             NaN        NaN         NaN       NaN
4     NaN            NaN             NaN        NaN         NaN       NaN
unnamed: 0_x          int64
awbno                object
return status        object
return quantity       int64
reason               object
sku                  object
orderid_x            object
date_x               object
platform             object
unnamed: 0_y        float64
getstatus           float64
inventory_status    float64
orderid_y           float64
suborder            float64
date_y              float64
received_date       float64
return_courier      float64
warehouse           float64
returntype          float64
category            float64
dtype: object

In [32]:
# Save the CSV file again with correct encoding and separator
df.to_csv("merged_data_fixed.csv", index=False, encoding="utf-8", sep=",")

In [42]:
import pandas as pd

# Load and display the CSV file
df = pd.read_csv("merged_data.csv")

# Display first few rows
print(df.head())

# Show column names
print(df.columns)

# Check for missing values
print(df.isnull().sum())

   unnamed: 0_x          awbno     return status  return quantity  \
0             0  R972189457AJI  RETURN_PROCESSED                1
1             1    1.95042E+14  RETURN_PROCESSED                1
2             2    1.95042E+14  RETURN_PROCESSED                1
3             3  R960845268AJI  RETURN_PROCESSED                1
4             4  R966944831AJI  RETURN_PROCESSED                1

                           reason          sku   orderid_x            date_x  \
0               Does_Not_Fit_Well  8.90572E+12  S262541859  30-09-2024 23:28
1  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
2  Not_Happy_With_Product_Quality  8.90572E+12  S262409205  30-09-2024 21:59
3      Want_To_Change_Style_Color  8.90572E+12  S262949936  30-09-2024 21:58
4        Does_Not_Look_Good_On_Me  8.90572E+12  S262726902  30-09-2024 21:56

    platform  unnamed: 0_y  getstatus  inventory_status  orderid_y  suborder  \
0  Channel 1           NaN        NaN               NaN        NaN       NaN
1  Channel 1           NaN        NaN               NaN        NaN       NaN
2  Channel 1           NaN        NaN               NaN        NaN       NaN
3  Channel 1           NaN        NaN               NaN        NaN       NaN
4  Channel 1           NaN        NaN               NaN        NaN       NaN

   date_y  received_date  return_courier  warehouse  returntype  category
0     NaN            NaN             NaN        NaN         NaN       NaN
1     NaN            NaN             NaN        NaN         NaN       NaN
2     NaN            NaN             NaN        NaN         NaN       NaN
3     NaN            NaN             NaN        NaN         NaN       NaN
4     NaN            NaN             NaN        NaN         NaN       NaN
Index(['unnamed: 0_x', 'awbno', 'return status', 'return quantity', 'reason',
       'sku', 'orderid_x', 'date_x', 'platform', 'unnamed: 0_y', 'getstatus',
       'inventory_status', 'orderid_y', 'suborder', 'date_y', 'received_date',
       'return_courier', 'warehouse', 'returntype', 'category'],
      dtype='object')
unnamed: 0_x            0
awbno                7164
return status         584
return quantity         0
reason               7597
sku                     0
orderid_x             161
date_x                  0
platform                0
unnamed: 0_y        30974
getstatus           30974
inventory_status    30974
orderid_y           30974
suborder            30974
date_y              30974
received_date       30974
return_courier      30974
warehouse           30974
returntype          30974
category            30974
dtype: int64

In [40]:
# Convert 'sku' and 'awbno' to strings while handling scientific notation
def clean_sku_awbno(value):
    try:
        # Convert scientific notation to plain integer and then to string
        return str(int(float(value)))
    except (ValueError, TypeError):
        # If the value is NaN or invalid, return it as is
        return value

df['sku'] = df['sku'].apply(clean_sku_awbno)
df['awbno'] = df['awbno'].apply(clean_sku_awbno)

In [46]:
print(df['sku'].head())
print(df['awbno'].head())
print(df.dtypes)

0    8.90572E+12
1    8.90572E+12
2    8.90572E+12
3    8.90572E+12
4    8.90572E+12
Name: sku, dtype: object
0    R972189457AJI
1      1.95042E+14
2      1.95042E+14
3    R960845268AJI
4    R966944831AJI
Name: awbno, dtype: object
unnamed: 0_x          int64
awbno                object
return status        object
return quantity       int64
reason               object
sku                  object
orderid_x            object
date_x               object
platform             object
unnamed: 0_y        float64
getstatus           float64
inventory_status    float64
orderid_y           float64
suborder            float64
date_y              float64
received_date       float64
return_courier      float64
warehouse           float64
returntype          float64
category            float64
dtype: object

In [50]:
# Function to handle scientific notation and ensure string output
def clean_sku_awbno(value):
    try:
        # Handle numeric values (float/scientific notation)
        if isinstance(value, (float, int)):
            return str(int(value))
        # Handle string values that may be in scientific notation
        elif isinstance(value, str) and 'E' in value:
            return str(int(float(value)))
        else:
            return str(value)
    except:
        return value  # Return the original value if conversion fails

# Apply the function to 'sku' and 'awbno'
df['sku'] = df['sku'].apply(clean_sku_awbno)
df['awbno'] = df['awbno'].apply(clean_sku_awbno)

In [52]:
# Save the cleaned DataFrame to a CSV
df.to_csv("merged_data_cleaned.csv", index=False, encoding="utf-8")

In [54]:
# Inspect problematic values in 'sku' and 'awbno'
print(df['sku'].unique())
print(df['awbno'].unique())

['8905720000000' 'missing']
['R972189457AJI' '195042000000000' 'R960845268AJI' ... 'CLQR1001355511'
 'R596539648TCQ' 'CLQR1001354681']

In [62]:
# Function to clean and convert 'sku' and 'awbno' columns
def clean_sku_awbno(value):
    try:
        # Convert scientific notation or float to integer, then to string
        if isinstance(value, (float, int)):
            return str(int(value))
        elif isinstance(value, str) and value.isdigit():
            return value  # Keep string numbers as is
        elif isinstance(value, str) and 'E' in value:
            return str(int(float(value)))  # Convert scientific notation
        else:
            return 'unknown'  # Handle non-numeric values like 'missing'
    except:
        return 'unknown'  # Handle unexpected cases

In [64]:
# Apply the function to the columns
df['sku'] = df['sku'].apply(clean_sku_awbno)
df['awbno'] = df['awbno'].apply(clean_sku_awbno)

In [66]:
# Save the cleaned DataFrame
df.to_csv("merged_data_cleaned.csv", index=False, encoding="utf-8")

In [68]:
print(df[['sku', 'awbno']].head())
print(df[['sku', 'awbno']].info())

             sku            awbno
0  8905720000000          unknown
1  8905720000000  195042000000000
2  8905720000000  195042000000000
3  8905720000000          unknown
4  8905720000000          unknown
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30974 entries, 0 to 30973
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     30974 non-null  object
 1   awbno   30974 non-null  object
dtypes: object(2)
memory usage: 484.1+ KB
None

In [70]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\vigne\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\vigne\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [72]:
# Import pandas with openpyxl engine
import pandas as pd

# Save the cleaned DataFrame as an .xlsx file
df.to_excel("merged_data_cleaned.xlsx", index=False, engine="openpyxl")

In [76]:
# Drop unnamed columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [78]:
# Drop rows where all elements are NaN
df = df.dropna(how="all")

# Fill NaN with a placeholder value if needed
df = df.fillna("N/A")

In [80]:
# Replace commas in string columns to prevent issues
df.replace(',', ' ', regex=True, inplace=True)

In [85]:
# Save the cleaned DataFrame to an Excel file
df.to_excel("merged_data_cleaned.xlsx", index=False, engine="openpyxl")